<!--<!DOCTYPE html>-->
<!--<html ng-app="myApp">-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>-->
    <!--<link rel="stylesheet" href="../css/ionic.css"/>-->
    <!--<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>-->
    <!--<link rel="stylesheet" href="../css/kcash.css"/>-->
    <!--<link rel="stylesheet" href="../css/inputPwd.css"/>-->
    <!--<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>-->
    <!--<script src="../js/inputPassword.js"></script>-->
    <!--<title>钱包备份</title>-->

    <!--<script src="../js/ionic.bundle.js"></script>-->
<!--</head>-->
<!--<body>-->
<ion-header-bar class="purseTool">
    <i class="icon ion-chevron-left header_left" ng-click="backWard()"></i>
    <h1 class="title">钱包备份</h1>
</ion-header-bar>
<ion-content ng-controller="inputPasswordCtrl">
    <div>请输入交易密码</div>
    <label class="item item-input">
        <input type="password" maxlength="6"  placeholder="请输入密码" ng-model="floginPassword">
    </label>
    <button class="button button-block button-dark" ng-click="inputPassword()">
        确定
    </button>
    <!--<div class="pwd-box">-->
        <!--<input type="tel" maxlength="6" class="pwd-input" id="pwd-input">-->
        <!--<div class="fake-box">-->
            <!--<input type="password" readonly="">-->
            <!--<input type="password" readonly="">-->
            <!--<input type="password" readonly="">-->
            <!--<input type="password" readonly="">-->
            <!--<input type="password" readonly="">-->
            <!--<input type="password" readonly="">-->
        <!--</div>-->
    <!--</div>-->
</ion-content>
<!--助记词不正确，请先备份钱包助记词，弹式框提示-->
<!--<script>-->
    <!--var app = angular.module('myApp',['ionic']);-->
    <!--//调用自定义封装的插件-->
    <!--jQuery(".inputPwd").inputPwd();-->
<!--</script>-->
<!--</body>-->
<!--</html>-->