<ion-header-bar>
    <i class="icon ion-chevron-left header_left" ng-click="backWard()"></i>
    <h1 class="title"></h1>
</ion-header-bar>
<ion-content ng-controller="transactionCtrl">
    <div class="text-center cent">
        <img ng-src="http://p-dais.oss-cn-hangzhou.aliyuncs.com{{wallet.coinLogo}}">
        <div><span>{{wallet.ftotal}}</span>{{wallet.walletName}}</div>
    </div>
    <div class="btn">
        <button class="button icon-left  button-energized ion-arrow-up-a btn1" ng-click="transaction()">转账</button>
        <button class="button icon-left  button-dark ion-arrow-down-a btn2" ng-click="receive()">收款</button>

    </div>
        <div class="content">
            <table border="1" ng-repeat="detail in tradeList">
                <tbody>
                <tr >
                    <td>{{detail.fcreatetime}}</td>
                    <td>{{datail.famount}}</td>
                    <td>{{datail.fconfirmations}}</td>
                </tr>
                </tbody>
            </table>
        </div>
</ion-content>